<a href="https://colab.research.google.com/github/Suryasri-Kalidas/Data-Mining/blob/main/CS412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive/')
import os
path="/content/drive/MyDrive/CS412_Project"
os.chdir(path)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
import shutil
#shutil.unpack_archive("zillow-prize-1.zip", "zillow_data")

# **IMPORT** **MODULES**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **LOAD DATA**

In [5]:
train_2016 = pd.read_csv("zillow_data/train_2016_v2.csv", header = 0,dtype='unicode') #if dtype is not specified, will get dtype mismatch error
train_2017 = pd.read_csv("zillow_data/train_2017.csv", header = 0,dtype='unicode')
properties_2016 = pd.read_csv("zillow_data/properties_2016.csv", header = 0,dtype='unicode')
properties_2017 = pd.read_csv("zillow_data/properties_2017.csv", header = 0,dtype='unicode')

In [6]:
train=pd.concat([train_2016,train_2017])
properties=pd.concat([properties_2016,properties_2017])

In [7]:
print("train_2016:",train_2016.shape)
print("train_2017:",train_2017.shape)
print("train_combined:",train.shape)
print("properties_2016:",properties_2016.shape)
print("properties_2017:",properties_2017.shape)
print("properties_combined:",properties.shape)

train_2016: (90275, 3)
train_2017: (77613, 3)
train_combined: (167888, 3)
properties_2016: (2985217, 58)
properties_2017: (2985217, 58)
properties_combined: (5970434, 58)

## **Data Cleaning**

**Data Visualization**

In [8]:
properties.head()

   parcelid airconditioningtypeid  ... taxdelinquencyyear censustractandblock
0  10754147                   NaN  ...                NaN                 NaN
1  10759547                   NaN  ...                NaN                 NaN
2  10843547                   NaN  ...                NaN                 NaN
3  10859147                   NaN  ...                NaN                 NaN
4  10879947                   NaN  ...                NaN                 NaN

[5 rows x 58 columns]

In [9]:
train.head()

   parcelid logerror transactiondate
0  11016594   0.0276      2016-01-01
1  14366692  -0.1684      2016-01-01
2  12098116   -0.004      2016-01-01
3  12643413   0.0218      2016-01-02
4  14432541   -0.005      2016-01-02

**Percentage of Missing Values**

In [10]:
properties.isna().sum()

parcelid                              0
airconditioningtypeid           4343553
architecturalstyletypeid        5958312
basementsqft                    5967179
bathroomcnt                       14419
bedroomcnt                        14395
buildingclasstypeid             5945074
buildingqualitytypeid           2090551
calculatedbathnbr                246068
decktypeid                      5935959
finishedfloor1squarefeet        5563959
calculatedfinishedsquarefeet     100662
finishedsquarefeet12             540464
finishedsquarefeet13            5955091
finishedsquarefeet15            5589451
finishedsquarefeet50            5563959
finishedsquarefeet6             5926951
fips                              14369
fireplacecnt                    5344673
fullbathcnt                      246068
garagecarcnt                    4196159
garagetotalsqft                 4196159
hashottuborspa                  5851358
heatingorsystemtypeid           2294869
latitude                          14369
longitude                         14369
lotsizesquarefeet                548805
poolcnt                         4913268
poolsizesum                     5914516
pooltypeid10                    5916489
pooltypeid2                     5905303
pooltypeid7                     4979080
propertycountylandusecode         15276
propertylandusetypeid             14369
propertyzoningdesc              2009334
rawcensustractandblock            14369
regionidcity                     124973
regionidcounty                    14369
regionidneighborhood            3657291
regionidzip                       26694
roomcnt                           14444
storytypeid                     5967187
threequarterbathnbr             5342446
typeconstructiontypeid          5956941
unitcnt                         2011902
yardbuildingsqft17              5808491
yardbuildingsqft26              5965141
yearbuilt                        107761
numberofstories                 4602689
fireplaceflag                   5960108
structuretaxvaluedollarcnt       101446
taxvaluedollarcnt                 76816
assessmentyear                    14372
landtaxvaluedollarcnt            127659
taxamount                         54002
taxdelinquencyflag              5857457
taxdelinquencyyear              5857453
censustractandblock              150111
dtype: int64

In [11]:
train.isna().sum()

parcelid           0
logerror           0
transactiondate    0
dtype: int64

In [12]:
#Total missing percentage
total = np.product(properties.shape)
total_missing = properties.isna().sum().sum()

percent_missing = (total_missing/total) * 100
print(percent_missing)

49.08064674510521

In [13]:
properties_missing_percentage= properties.isna().sum()/np.shape(properties)[0]*100

In [14]:
cols_highna=properties_missing_percentage[properties_missing_percentage>90]
print(cols_highna)
len(cols_highna)

architecturalstyletypeid    99.796966
basementsqft                99.945481
buildingclasstypeid         99.575240
decktypeid                  99.422571
finishedfloor1squarefeet    93.191868
finishedsquarefeet13        99.743017
finishedsquarefeet15        93.618839
finishedsquarefeet50        93.191868
finishedsquarefeet6         99.271694
hashottuborspa              98.005572
poolsizesum                 99.063418
pooltypeid10                99.096464
pooltypeid2                 98.909108
storytypeid                 99.945615
typeconstructiontypeid      99.774003
yardbuildingsqft17          97.287584
yardbuildingsqft26          99.911346
fireplaceflag               99.827048
taxdelinquencyflag          98.107726
taxdelinquencyyear          98.107659
dtype: float64

20

In [15]:
cols_to_drop=cols_highna.index.tolist()

properties.drop(cols_to_drop, axis = 1, inplace = True)

In [19]:
cols_highna=properties_missing_percentage[properties_missing_percentage>10]
print(cols_highna)
len(cols_highna)

airconditioningtypeid    72.751043
buildingqualitytypeid    35.015059
fireplacecnt             89.519003
garagecarcnt             70.282311
garagetotalsqft          70.282311
heatingorsystemtypeid    38.437222
poolcnt                  82.293314
pooltypeid7              83.395612
propertyzoningdesc       33.654739
regionidneighborhood     61.256703
threequarterbathnbr      89.481703
unitcnt                  33.697751
numberofstories          77.091364
dtype: float64

13

In [17]:
properties_missing_percentage= properties.isna().sum()/np.shape(properties)[0]*100

In [ ]:
print(train_2016)
print(properties_2016.columns)

       parcelid logerror transactiondate
0      11016594   0.0276      2016-01-01
1      14366692  -0.1684      2016-01-01
2      12098116   -0.004      2016-01-01
3      12643413   0.0218      2016-01-02
4      14432541   -0.005      2016-01-02
...         ...      ...             ...
90270  10774160  -0.0356      2016-12-30
90271  12046695    0.007      2016-12-30
90272  12995401  -0.2679      2016-12-30
90273  11402105   0.0602      2016-12-30
90274  12566293   0.4207      2016-12-30

[90275 rows x 3 columns]
Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

print(properties_2016.describe())

        parcelid airconditioningtypeid architecturalstyletypeid basementsqft bathroomcnt bedroomcnt buildingclasstypeid buildingqualitytypeid  \
count    2985217                811519                     6061         1628     2973755    2973767               12629               1938488
unique   2985217                     7                        8          751          37         21                   5                    12
top     11058059                     1                        7         1528         2.0        3.0                   4                     7
freq           1                742364                     5251           25     1218664    1169462                9265               1133238

       calculatedbathnbr decktypeid finishedfloor1squarefeet calculatedfinishedsquarefeet finishedsquarefeet12 finishedsquarefeet13  \
count            2856305      17096                   202717                      2929652              2709184                 7672
unique                34          1                     4604                        12587                10670                  250
top                  2.0         66                     1252                       1440.0                 1440                 1440
freq             1218652      17096                      923                         8946                 6941                 1571

       finishedsquarefeet15 finishedsquarefeet50 finishedsquarefeet6     fips fireplacecnt fullbathcnt garagecarcnt garagetotalsqft hashottuborspa  \
count                190798               202717               22001  2973780       312637     2856305       883267          883267          69014
unique                 8816                 4802                4251        3            9          20           24            2240              1
top                    1536                 1252                 952    06037            1           2            2               0           true
freq                    647                  923                 101  2009362       269643     1425661       660462          196752          69014

       heatingorsystemtypeid  latitude   longitude lotsizesquarefeet poolcnt poolsizesum pooltypeid10 pooltypeid2 pooltypeid7  \
count                1806401   2973780     2973780           2709118  517534       27960        36939       32075      485459
unique                    14    852325     1042550             69953       1         907            1           1           1
top                        2  33984600  -118390000            6000.0       1         450            1           1           1
freq                 1156830       862        1718             44730  517534        3179        36939       32075      485459

       propertycountylandusecode propertylandusetypeid propertyzoningdesc rawcensustractandblock regionidcity regionidcounty regionidneighborhood  \
count                    2972940               2973780            1978629                2973780      2922372        2973780              1156402
unique                       240                    15               5638                 100300          186              3                  528
top                         0100                   261               LAR1       060590524.262052        12447           3101               118208
freq                     1153896               2148362             275029                   1518       670925        2009362                32267

       regionidzip  roomcnt storytypeid threequarterbathnbr typeconstructiontypeid  unitcnt yardbuildingsqft17 yardbuildingsqft26 yearbuilt  \
count      2971237  2973742        1624              311631                   6747  1977490              80355               2647   2925289
unique         405       36           1                   7                      5      146               1636                594       168
top          96987      0.0           7                   1                      6        1                240                120    1955.0
freq         22021  2308879        1624              308959                   6670  1780051               3190                 91     88586

       numberofstories fireplaceflag structuretaxvaluedollarcnt taxvaluedollarcnt assessmentyear landtaxvaluedollarcnt taxamount taxdelinquencyflag  \
count           682069          5163                    2930235           2942667        2973778               2917484   2953967              56462
unique              12             1                     426150            638920             14                531408   1045757                  1
top                  1          true                   100000.0               9.0           2015               20980.0    345.72                  Y
freq            424186          5163                       1880              1889        2972420                  3804       171              56462

       taxdelinquencyyear censustractandblock
count               56464             2910091
unique                 32               96771
top                    15      60379203391054
freq                26068                1171

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

print(properties.dtypes)

# numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
# numeric_columns = properties.select_dtypes(['number'])

# cosine_similarity(numeric_columns)

parcelid                        object
airconditioningtypeid           object
architecturalstyletypeid        object
basementsqft                    object
bathroomcnt                     object
bedroomcnt                      object
buildingclasstypeid             object
buildingqualitytypeid           object
calculatedbathnbr               object
decktypeid                      object
finishedfloor1squarefeet        object
calculatedfinishedsquarefeet    object
finishedsquarefeet12            object
finishedsquarefeet13            object
finishedsquarefeet15            object
finishedsquarefeet50            object
finishedsquarefeet6             object
fips                            object
fireplacecnt                    object
fullbathcnt                     object
garagecarcnt                    object
garagetotalsqft                 object
hashottuborspa                  object
heatingorsystemtypeid           object
latitude                        object
longitude                       object
lotsizesquarefeet               object
poolcnt                         object
poolsizesum                     object
pooltypeid10                    object
pooltypeid2                     object
pooltypeid7                     object
propertycountylandusecode       object
propertylandusetypeid           object
propertyzoningdesc              object
rawcensustractandblock          object
regionidcity                    object
regionidcounty                  object
regionidneighborhood            object
regionidzip                     object
roomcnt                         object
storytypeid                     object
threequarterbathnbr             object
typeconstructiontypeid          object
unitcnt                         object
yardbuildingsqft17              object
yardbuildingsqft26              object
yearbuilt                       object
numberofstories                 object
fireplaceflag                   object
structuretaxvaluedollarcnt      object
taxvaluedollarcnt               object
assessmentyear                  object
landtaxvaluedollarcnt           object
taxamount                       object
taxdelinquencyflag              object
taxdelinquencyyear              object
censustractandblock             object
dtype: object

In [ ]:
cols = [
'parcelid',
'airconditioningtypeid',
    'architecturalstyletypeid',
    'basementsqft',
    'bathroomcnt',
    'bedroomcnt',
    'buildingclasstypeid',
    'buildingqualitytypeid',
    'calculatedbathnbr',
    'decktypeid',
    'finishedfloor1squarefeet',
    'calculatedfinishedsquarefeet',
    'finishedsquarefeet12',
    'finishedsquarefeet13',
    'finishedsquarefeet15',
    'finishedsquarefeet50',
    'finishedsquarefeet6',
    'fips',

'fireplacecnt'                    ,
'fullbathcnt'                     ,
'garagecarcnt'                    ,
'garagetotalsqft'                 ,
'hashottuborspa'                  ,
'heatingorsystemtypeid'           ,
'latitude'                        ,
'longitude'                       ,
'lotsizesquarefeet'               ,
'poolcnt'                         ,
'poolsizesum'                     ,
'pooltypeid10'                    ,
'pooltypeid2'                     ,
'pooltypeid7'                     ,
'propertycountylandusecode'       ,
'propertylandusetypeid'           ,
'propertyzoningdesc'              ,
'rawcensustractandblock'          ,
'regionidcity'                    ,
'regionidcounty'                  ,
'regionidneighborhood'            ,
'regionidzip'                     ,
'roomcnt'                         ,
'storytypeid'                     ,
'threequarterbathnbr'             ,
'typeconstructiontypeid'          ,
'unitcnt'                         ,
'yardbuildingsqft17'              ,
'yardbuildingsqft26'              ,
'yearbuilt'                       ,
'numberofstories'                 ,
'fireplaceflag'                   ,
'structuretaxvaluedollarcnt'      ,
'taxvaluedollarcnt'               ,
'assessmentyear'                  ,
'landtaxvaluedollarcnt'           ,
'taxamount'                       ,
'taxdelinquencyflag'              ,
'taxdelinquencyyear'              ,
'censustractandblock'             ,
]

types = {}

for col in cols:
    try:
        properties[col].astype('int')
        types[col] = 'int'
        continue
    except:
        pass

    try:
        properties[col].astype('float')
        types[col] = 'float'
        continue
    except:
        pass

    types[col] = 'object'
from pprint import pprint

pprint(types)

{'airconditioningtypeid': 'float',
 'architecturalstyletypeid': 'float',
 'assessmentyear': 'float',
 'basementsqft': 'float',
 'bathroomcnt': 'float',
 'bedroomcnt': 'float',
 'buildingclasstypeid': 'float',
 'buildingqualitytypeid': 'float',
 'calculatedbathnbr': 'float',
 'calculatedfinishedsquarefeet': 'float',
 'censustractandblock': 'float',
 'decktypeid': 'float',
 'finishedfloor1squarefeet': 'float',
 'finishedsquarefeet12': 'float',
 'finishedsquarefeet13': 'float',
 'finishedsquarefeet15': 'float',
 'finishedsquarefeet50': 'float',
 'finishedsquarefeet6': 'float',
 'fips': 'float',
 'fireplacecnt': 'float',
 'fireplaceflag': 'object',
 'fullbathcnt': 'float',
 'garagecarcnt': 'float',
 'garagetotalsqft': 'float',
 'hashottuborspa': 'object',
 'heatingorsystemtypeid': 'float',
 'landtaxvaluedollarcnt': 'float',
 'latitude': 'float',
 'longitude': 'float',
 'lotsizesquarefeet': 'float',
 'numberofstories': 'float',
 'parcelid': 'int',
 'poolcnt': 'float',
 'poolsizesum': 'float',
 'pooltypeid10': 'float',
 'pooltypeid2': 'float',
 'pooltypeid7': 'float',
 'propertycountylandusecode': 'object',
 'propertylandusetypeid': 'float',
 'propertyzoningdesc': 'object',
 'rawcensustractandblock': 'float',
 'regionidcity': 'float',
 'regionidcounty': 'float',
 'regionidneighborhood': 'float',
 'regionidzip': 'float',
 'roomcnt': 'float',
 'storytypeid': 'float',
 'structuretaxvaluedollarcnt': 'float',
 'taxamount': 'float',
 'taxdelinquencyflag': 'object',
 'taxdelinquencyyear': 'float',
 'taxvaluedollarcnt': 'float',
 'threequarterbathnbr': 'float',
 'typeconstructiontypeid': 'float',
 'unitcnt': 'float',
 'yardbuildingsqft17': 'float',
 'yardbuildingsqft26': 'float',
 'yearbuilt': 'float'}

In [ ]:
for col in types:
    properties[col] = properties[col].astype(types[col])